# Basically the problem I ran into here is that ctrl+l, for some reason, wasn't working right
# I asked chatgpt to solve the problem, here's what it came up with:
#
# If you want to keep using `Ctrl+L` to clear the screen, you can map `Ctrl+L` to the `clear-screen` readline command by adding the following line to your `~/.inputrc` file:
# 
# ```
# set editing-mode vi
# "\C-l": clear-screen
# ```
# 
# Then, restart your shell or run `bind -f  ~/.inputrc` to reload the settings.
# 
set editing-mode vi
"\C-l": clear-screen

