[user]
        name = WillChangeThisLater
        email = paulwendt567@gmail.com
[url "git@github.com:"]
        insteadOf = https://github.com/
# pushes to remote branch of the same name
#
# this could cause problems if my local branch name conflicts
# with a branch name upstream
[push]
  default = current
[branch]
  autoSetupMerge = always

